<% provide(:title, "Информация о продукции") %>
<div id="main">
  <div id="primary">
    <div id="content" role="main">     
    
      <article class="page hentry">
        <header class="entry-header">
          <h1 class="entry-title"><a href="#"><%= yield(:title) %></a></h1>
        </header>
        <div class="entry-content">
          <div class="one-third">
            <p><%= image_tag(image_url("aqua.jpg"), alt: 'Кремень "Гега"', size: "400x720") %></p> 
          </div>
          <div class="two-third last">
            <p>Кусочки кремня "Гега" многоразового использования (заменяются примерно через 4-6 месяцев) изготовлены и упакованы согласно техническим условиям.</p>
            <h4>Способ применения</h4>
            <p>Кусочки кремня промыть и опустить в чистую емкость (эмалированную, стеклянную) из расчета 10-15г на 1 литр; емкость с кремнем заполнить питьевой водой и поместить для отстаивания в светлое место помещения (но так, чтобы не попадали на емкость прямые солнечные лучи). Вода с кремнем отстаивается 7-10 суток при комнатной температуре и естественном воздухообмене с окружающей средой (емкость не должна быть плотно закрытой, ее следует накрыть марлевой салфеткой). После истечения срока отстаивания отстоявшуюся воду аккуратно перелить в другую чистую емкость и использовать как обычную питьевую воду, осадок, образовавшийся во время отстаивания, слить. Емкость, в которой отстаивалась вода, и кусочки кремня промыть  в проточной воде, просушить, и снова использовать для отстаивания, соблюдая выше приведенные указания. Если кусочки кремня покрылись несмываемой коркой, их следует заменить на новые.</p>
            <h4>Стоимость</h4>
            <p>Один пакет продукции массой 30г (для отстаивания 2-3 л воды) - 3р., массой 90г (для отстаивания 6-9 л воды) - 7р.<br /></p>
            <h4>Способ доставки</h4>
            <p> Доставка почтой, с оплатой при получении. </p>
          </div>
          <div class="clear"></div>
        </div>   
      </article>
    
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main -->
