<% provide(:title, "Важно знать!") %>
<div id="main">
  <div id="primary">
    <div id="content" role="main">     

      <article class="page hentry">
        <header class="entry-header">
          <h1 class="entry-title"><a href="#"><%= yield(:title) %></a></h1>
        </header>  
        <div class="entry-content">
          <p><span class="dropcap">В</span> настоящее время многие используют отстоянную с кусочками кремня воду, но при этом некоторые начинают применять для отстаивания кремень, собранный на полях, вдоль дорог, на берегах рек и водоемов (с поверхности земли), также в продаже можно встретить кремни, предлагаемые для активации воды (в том числе и кремни также черного цвета, добытые из недр), но на самом деле являющиеся малоэффективными при взаимодействии с водой.</p>
          <div class="one-third">
            <p><%= image_tag(image_url("kr.jpg"), size: "720x400", alt: '') %></p> 
          </div>
          <div class="two-third last">
            <p>В результате стали появляться не совсем приятные отзывы о якобы активированной кремнем воде. А ведь, согласно исследованиям в рамках проекта "Кремень" было установлено, что <b> не все кремни одинаково активируют воду</b>, даже если они похожи по цвету и взяты из одного места добычи (особенно если они взяты с поверхности земли).</p>
          </div>
          <div class="clear"></div>
          <div class="one-half">
            <p>Не следует использовать для отстаивания питьевой воды кремень, взятый с поверхности земли, также и по причине различного рода загрязнений окружающей среды, в результате чего вредные вещества могут накапливаться на шероховатой или в рыхлой поверхности кремня, в его наколах и трещинах, и при отстаивании переходить в воду, что может навредить здоровью.</p>
          </div>
          <div class="one-half last">
            <p><%= image_tag(image_url("bad_flint.jpg"), size: "720x400", alt: '') %></p> 
          </div>
          <div class="clear"></div>
          <blockquote>
            <p><b>По результатам испытаний, кусочки кремня "Гега" и отстоянная с ними питьевая вода полностью соответствуют мерам безопасности для здоровья и жизнедеятельности человека.</b></p>
          </blockquote>    
          <div class="clear"></div>
        </div>   
      </article>
  
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main -->

