<% provide(:title, "Из истории") %>
<div id="main">
  <div id="primary">
    <div id="content" role="main">     

      <article class="page hentry">
        <header class="entry-header">
          <h1 class="entry-title"><a href="#"><%= yield(:title) %></a></h1>
        </header>   
        <div class="entry-content">
          <p> "Гега" - так называли природный минерал кремень древние предки сегодняшних белорусов примерно 3-5 тыс. лет назад, так называют кремень сегодня в некоторых районах на западе Беларуси. В современном белорусском языке сохранилось слово "нягеглы", т.е. слабый, немощный. </p>
          <h4>Добыча кремня предками</h4>
          <p> Свойства кремня были изучены древними людьми для своих потребностей, они добывали камень на глубине. Сначала разработка велась открытым способом - вскрывался верхний пласт мела и доставался кремень. В неолите люди стали применять более усовершенствованный способ добычи - шахтовый. </p>
          <p><%= image_tag(image_url("quarrying.jpg"), size: "720x400", alt: '') %></p>
          <p>Копали вертикальные ямы глубиной до 6 метров. Диаметр ямы составлял в среднем 1,5-2 метра. Найденные пласты камня начинали разрабатывать по ходу залегания системой подбоев, которые имели форму ниши шириной 60-70 см. Чтобы избежать обвала, между подбоями оставляли выступы породы. Близкие между собой выработки соединялись узкими ходами штреками. Между шахтами иной раз встречаются пустые, довольно большие камеры. Это были помещения, в которых люди отдыхали или прятались в непогоду. Форма шахт зависела от размещения залежей кремня.</p>
          <p><%= image_tag(image_url("quarrying2.jpg"), size: "720x400", alt: '') %></p>
          <p>Кремневую породу и кремень вытаскивали на поверхность в кожаных мешках. Самая первая обработка кремневых заготовок проводилась непосредственно в шахтах, далее в специальных мастерских. Ими зачастую служили наполовину засыпанные шахты. Такие места имели специальные укрытия и были одновременно мастерскими и жилищем, в которых можно было отдохнуть и погреться у огня. За пределами залежей кремня на возвышенностях размещались сезонные поселки, где жили шахтеры.</p>
          <div class="clear"></div>
        </div>
      </article>
    
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main -->

