<% provide(:title, "Краткие сведения") %>
<div id="main">
  <div id="primary">
    <div id="content" role="main">     

       <article class="page hentry">
        <header class="entry-header">
          <h1 class="entry-title"><a href="#"><%= yield(:title) %></a></h1>
        </header>
        <div class="entry-content">
          <blockquote>
            <p> Предлагаемый для отстаивания питьевой воды (в том числе и воды, прошедшей через очищающие фильтры) кремень "Гега" представляет собой <b>полученные в результате дробления ручным способом и отобранные по особой методике кусочки органогенного кремня из недр Беларуси</b>. Такие кусочки использовались в научно-исследовательских работах в рамках Республиканского проекта "Кремень", составителем которого являлся первооткрыватель феномена кремня белорусский ученый-изобретатель А.Д. Малярчиков, и оказались наиболее эффективными по сравнению с другими разновидностями кремня, во взаимодействии с водой.  </p>
          </blockquote>
          <p>Проведенные научные исследования в рамках проекта "Кремень" показали, что отстоянная с такими кусочками кремня питьевая вода: 
             <ul>
              <li>полностью соответствует требованиям безопасности и не оказывает побочных эффектов на организм; </li>
              <li>изменяет свою структуру, в результате чего улучшает свои питьевые качества, долго сохраняется;</li>
              <li>способствует восстановлению ослабленного иммунитета организма; </li>
              <li>содействует нормализации процесса обмена веществ в организме;</li>
              <li>благоприятно воздействует на нормальную микрофлору кишечника; </li>
              <li>обогащается (в допустимых концентрациях) ионами кремния (Si), кремний в 1977 году в Стокгольме на Нобелевском симпозиуме был официально признан биологически активным жизненно важным элементом, потому что множество болезней: диабет, рак, гипертония, туберкулез, проказа, гепатит, катаракта, артриты и другие, а также камнеобразование в почках, повышенное отложение солей кальция в сухожилиях, связках, суставах, позвоночнике, на стенках сосудов сопровождаются недостатком кремния в тканях и органах;</li>
              <li>обезвреживает и выводит из организма опасные для здоровья соединения и изотопы химических элементов;</li>
              <li>стимулирует рост и развитие растений при поливе.</li>
            </ul>
          </p>  
          <div class="clear"></div>
        </div> 
      </article>

    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main -->


